<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTI_Stores_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MTI_Stores_Manager.Properties.Settings.StoresConnectionString"
            connectionString="Data Source=DESKTOP-33LB82J\HOSSAM;Initial Catalog=Stores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MTI_Stores_Manager.Properties.Settings.StoresConnectionString1"
            connectionString="Data Source=DESKTOP-HB2PMFE\SQLEXPRESS;Initial Catalog=Stores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MTI_Stores_Manager.Properties.Settings.StoresConnectionString2"
            connectionString="Data Source=DESKTOP-33LB82J\Hossam;Initial Catalog=Stores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MTI_Stores_Manager.Properties.Settings>
            <setting name="user_id" serializeAs="String">
                <value>0</value>
            </setting>
        </MTI_Stores_Manager.Properties.Settings>
    </userSettings>
</configuration>